h1 {
    text-align:center;
    background-color: rgb(249, 252, 253);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(22, 27, 24);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(243, 243, 243);
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.looks {
    background-color: rgb(252, 252, 252)

}
.moda{
   color: rgb(212, 188, 197);
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }